extends layout

block content
  h1 Modal test
  
  button.trigger(data-modal='open', data-source='http://assets.barcroftmedia.com.s3-website-eu-west-1.amazonaws.com/assets/images/recent-images-11.jpg') Open modal image
  
  a.trigger(data-modal='open', data-source='https://www.youtube.com/watch?v=Evb31p5vFs4') Open modal anchor video youtube
  
  a.trigger(data-modal='open', data-source='https://vimeo.com/193729267') Open modal anchor video vimeo
  
  a.trigger(data-modal='open', data-source='http://www.nearinc.com/pubs/draftsla_us.pdf') Open modal anchor pdf
  
  a.trigger Another type of anchor
    
  
